/* ---------- GLOBAL ------------ */
*{
    color: pink;
    font-family: Verdana;
    list-style: none;
    text-align: center;
    text-decoration: none;
}

body {
    background-image: url("../rsc/img/fondo.jpg");
    background-attachment: fixed;
}

a:hover{
    text-shadow: 2px 2px 8px rgb(255, 58, 245);
}

p{
    color: white;
}

/* ---------- NAV ------------ */
.logo{
    font-family: 'Lucida Grande', sans-serif;
    font-size: 3rem;
    text-shadow: 2px 3px 5px violet;
}

nav ul {
    background-color: rgba(0, 0, 0, 0.6);
    width: 80%;
    height: 3rem;
    border-radius: 0.5rem;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}


/* ---------- MAIN ------------ */
h1{
    font-family: 'Lucida Grande', sans-serif;
    font-size: 1.5rem;
    text-shadow: 2px 3px 5px violet;
}

.albums {
    display: flex;
    justify-content: space-evenly
}

.albums article{
    width: 12rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0.5rem;
}

.albums article img{
    border-radius: 	0.5rem;
    size-adjust: auto;
    width: 100%;
    height: auto;
}

.albums p {
    color: pink;
}

form input, form textarea{
    text-align: left;
    display: flex;
    justify-items: center;
    margin: 0.5rem;
    border-style: none;
    height: 2rem;
    border-radius: 0.5rem;
}

form textarea{
    height: 5rem;
}

form input[type=submit]{
    background-color: rgb(241, 168, 211);
}
form input[type=submit]:hover{
    background-color: rgb(255, 58, 245);
}

button{
    background-color: rgb(184, 93, 136);
    border-style: none;
    height: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
}


/* ---------- FOOTER ------------ */
footer{
    background-color: rgba(0, 0, 0, 0.6);
}

footer li, footer li a, footer p, footer b{
    color: white;
}

footer div{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}